/* TEA SELECTION INTRO SECTION */



/* Typography */

.tea-type-link {
    font-family: 'Playfair Display', serif;
    font-size: 1.25em;
    font-style: italic;
    letter-spacing: .18em;
    padding-right: 200px;
    text-transform: capitalize;
}

/* tea menu */
.tea-types {
    background-color: #fff;
    background-size: cover;
    width: 20%;
    height: auto;
    padding-top: 5%;
    /* position: fixed; */
}

.tea-type-inner-item {
    display: flex;
    flex-direction: column;
    justify-content: none;

    height: auto;
    margin: auto;
    padding: .75em;
    padding-left: 2.75em;
}


/* shop section 1 */

.show {
    display: block;
}

.shop-intro-section {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100%;
}

.shop-intro {
    display: none;
}

.shop-img {
    background-image: url(../images/grey-box.jpg);
    background-size: cover;
    width: 100%;
    height: 300px;
}

.green-serif {
    /* background-color: red; */
    color: #b9d324;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    letter-spacing: .1em;
}

.shop-general-text {
    /* background-color: blue; */
    width: 80%;
    float: right;
}

.shop-intro-item {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: auto;
    padding: 3em;
    width: 100%;
}

.shop-intro-inner-item {
    height: auto;
    margin: auto;
    width: 100%;
}

/* Section 2 */

#section-two {
    /* background-color: blue; */
    display: block;
}

.product-selection-section {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

    /* background-color: blue; */
    padding: 3em;
}

.product {
    flex-basis: 30%;
    
    margin: .5em;
}

.product-column-align {
    display: flex;
    flex-direction: column;
}

#section-three {
    background-color: green;
    display: none;
}

/* FEATURED ITEM */

.item-padding {
    background-color: #eee;
    padding: .5em;
    height: 250px;
}

/* FOOTER */

.footer-content {
    margin: auto;
    max-width: 1000px;
    padding: 20px;
}

p.footer-text {
    font-size: .75em;
}