* {
    font-family: 'Playfair Display', serif;
    text-align: center;
}

/* MODIFIED UTILIES */

body {
    background-color: #000;
}

.left {
    color: white;
    letter-spacing: auto;
}

/* INTRO PAGE */

#main-part-one {
    /* background-color: rgb(255, 255, 255); */
    background-image: url(../images/taidam20.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.main-image {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: auto;
    width: 100%;
}

.intro-section {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* background-color: rgb(255, 255, 255); */
    height: 70vh;
    width: 80%;
}

.intro-item {
    display: flex;
    flex-direction: column;

    height: auto;
    padding: 5em;
    width: 100%;
}

h1.birth-headline {
    align-self: flex-start;

    color: #fff;
    text-align: left;
}

/* STORY */

.story {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgb(0, 0, 0);
    height: 100vh;
    margin: auto;
}

.inner-story {
    width: 85%;
}

.story-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    /* background-color: rgb(170, 170, 170); */
    height: auto;
    margin: auto;
    padding: .75em;
    width: 100%;
}

/* PART ONE */

.part-one-image {
    /* background-color: red; */
    width: 70%;
}

.part-one-text-overlap {
    align-self: flex-end;

    display: block;
    height: auto;
    left: -5%;
    position: relative;
    width: 50%;
    /* width: 45%; */
}

/* PART TWO */

.part-two-image {
    /* background-color: red; */
    height: auto;
    width: 90%;
}

.part-two-text {
    align-self: center;

    display: block;
    height: auto;
    left: -8%;
    position: relative;
    width: 20%;
    /* width: 45%; */
}

/* PART THREE */

.part-three-image {
    align-self: flex-end;
    /* background-color: red; */
    height: auto;
    width: 90%;
}

.part-three-text {
    align-self: center;

    display: block;
    height: auto;
    /* left: -15%; */
    position: relative;
    right: -15%;
    width: 30%;
    /* width: 45%; */
}

/* PART FOUR */

.part-four {
    display: flex;
    flex-wrap: wrap;
}

.part-four-image-left {
    align-self: flex-start;

    background-color: red;
}

.part-four-image-right {
    align-self: flex-end;

    background-color: green;
}

/* PART FIVE */

.part-five {
    width: 70%;
}

/* PART SIX */

.part-six {
    /* background-color: red;
    background-image: url(../images/taidam7.jpg);
    background-size: cover; */
    height: auto;
    width: 100%;
}

.part-six-image {
    height: auto;
    width: 100%;
}