* {
    font-family: 'Playfair Display', serif;
    text-align: center;
}

/* MODIFIED UTILIES */

body {
    background-color: #000;
}

.left {
    color: white;
    letter-spacing: auto;
}

/* INTRO PAGE */

#main {
    /* background-color: rgb(255, 255, 255); */
    background-image: url(../images/taidam20.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.main-image {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: auto;
    width: 100vw;
}

.intro-section {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* background-color: rgb(255, 255, 255); */
    height: 100vh;
    width: 80%;
}

.intro-item {
    align-content: center;
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: auto;
    width: 100%;
}

h1.birth-headline {
    align-self: flex-start;

    color: #fff;
    /* display: none; */
    opacity: 0;
    text-align: left;
}


/* STORY */

.story {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgb(0, 0, 0);
    height: 100vh;
    margin: auto;
    width: 100vw;
}

.left {
    /* height: 100vh;
    width: 100vw; */
}

.inner-story {
    /* height: 100%;
    width: 100%; */
}

.story-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    /* background-color: rgb(170, 170, 170); */
    height: 100vh;
    margin: auto;
    padding: 3em;
    width: 100vw;
}

/* PART ONE */

.part-one-image {
    height: 100%;
    width: auto;
    top: 0;
}

.part-one-text-overlap {
    /* align-self: flex-end; */

    display: block;
    height: auto;
    /* left: -3%; */
    position: relative;
    padding-left: 1em;
    padding-top: 14%;
    padding-right: 1em;
    width: 40%;
}

/* PART TWO */

.part-two-image {
    height: 100%;
    width: auto;
    top: 0;
}

.part-two-text {
    align-self: center;

    display: block;
    height: auto;
    left: -4%;
    position: relative;
    width: 35%;
}

/* PART THREE */

.part-three-image {
    /* align-self: flex-end; */
    height: 90%;
    margin: auto;
    /* right: 30%; */
    top: 0;
    width: auto;
}

.part-three-text {
    align-self: center;

    display: block;
    height: auto;
    left: 7%;
    position: relative;
    /* right: -5%; */
    width: 30%;
}

/* PART FOUR */

.part-four {
    display: flex;
    flex-wrap: wrap;
}

.part-four-image-left {
    align-self: flex-start;

    background-color: red;
}

.part-four-image-right {
    align-self: flex-end;

    background-color: green;
}

/* PART FIVE */

.part-five-container {
    padding-top: 13%;
    width: 70%;
}

/* PART SIX */

.part-six-container {
    /* background-color: red;
    background-image: url(../images/taidam7.jpg);
    background-size: cover; */
    height: auto;
    width: 100%;
}

.part-six-image {
    height: 100%;
    width: auto;
}


/* For animation */

#part-one {
    display: block;
    height: 100vh;
    width: 100%;
    z-index: 6;
}

#part-two {
    display: block;
    height: 100vh;
    width: 100%;
    z-index: 5;
}

#part-three {
    display: block;
    z-index: 4;
}

#part-four {
    display: block;
    z-index: 3;
}

#part-five {
    display: block;
    z-index: 2;
}

#part-six {
    display: block;
    z-index: 1;
}

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
}

.card {
    flex: 0 0 auto;
    height: 100vh;
    width: 100vw;
    /* position: fixed; */
}