* {
    font-family: 'Playfair Display', serif;
    text-align: center;
}

body {
    background-color: #000;
}

/* INTRO PAGE */

#main-part-one {
    /* background-color: rgb(255, 255, 255); */
    background-image: url(../images/taidam20.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.main-image {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: auto;
    width: 100%;
}

.intro-section {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* background-color: rgb(255, 255, 255); */
    height: 70vh;
    width: 100%;
}

.intro-item {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    height: auto;
    width: 100%;
}

/* STORY */

.story {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgb(0, 0, 0);
    height: 100vh;
    margin: auto;
}

.inner-story {
    width: 85%;
}

.story-text {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    /* background-color: rgb(170, 170, 170); */
    height: auto;
    margin: auto;
    padding: .75em;
    width: 100%;
}

.part-one-image {
    /* background-color: red; */
    width: 70%;
}

.inner-story-text {
    height: auto;
    /* width: 45%; */
}

.info {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    /* background-color: #ccc; */
    /* background-image: url(../images/grey-box.jpg); */
    /* background-size: cover; */
    height: 100vh;
    margin: auto;
    width: 100%;
}

.item {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 80%;
    width: 80%;
}

h2.item-headline {
    font-style: italic;
}


/* FEATURED ITEM */

.item-padding {
    background-color: #eee;
    padding: .5em;
    height: 250px;
}

/* FOOTER */

.footer-content {
    margin: auto;
    max-width: 1000px;
    padding: 20px;
}

p.footer-text {
    font-size: .75em;
}