* {
    text-align: center;
    font-family: 'Playfair Display', serif;
}

/* UTILITIES */

h1, h2, h3, h4 ,h5{ 
    color: #787272;
    /* font-family: 'Abel', sans-serif; */
    letter-spacing: .12em;
    /* text-align: left; */
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.italic {
    font-style: italic;
}

.caps {
    text-transform: uppercase;
}

.lowercase {
    .caps {
        text-transform: lowercase;
    }
}

h1 {
    font-size: 4em;
}

p {
    color: #898e7c;
    font-family: 'Playfair Display', serif;
}

.sans-serif {
    font-family: 'Open Sans', sans-serif;
}

.serif {
    font-family: 'Playfair Display', serif;
}

.white {
    color: #fff;
}

.black {
    color: #000;
}

/* LINKS */
a {
    color: #56636e;
    font-family: 'Playfair Display', serif;
    padding: .75em;
    text-transform: lowercase;
}

a:hover {
    color: #ff5912;
    text-decoration: underline;
}

img {
    margin: 0;
    max-width: 100%;
    padding: 0;
}

hr {
    width: 100%;
}

hr.thick-border {
    border-bottom: rgb(255,255,255) solid 3px;
}

hr.left {
    margin-left: 0;
    max-width: 47%;
}

hr.right {
    margin-right: 0;
    max-width: 82%;
}

footer {
    background-color: #e5e5e5;
    margin: 0;
    padding: 0;
}

/* HEADER */

#header {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: transparent;
    padding: 2em;
    width: 100%;
}

.links {
    display: inline-flex;
}

.logo {
    height: 36px;
    width: 175px;
}

/* INTRO PAGE */

#main {
    background-color: rgb(255, 255, 255);
    background-image: url(../images/clouds-bw.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.main-image {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: auto;
}

.intro-section {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* background-color: rgb(255, 255, 255); */
    height: 70vh;
    width: 100%;
}

.intro-item {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    height: auto;
    width: 100%;
}

/* STORY */

.story {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgb(255, 255, 255);
    height: 100vh;
    margin: auto;
}

.inner-story {
    width: 85%;
}

.inner-story-text {
    height: auto;
}

.story-headline {
    /* background-color: rgb(170, 170, 170); */
    height: auto;
    margin: auto;
    padding: .75em;
    width: 100%;
}

.story-text {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;

    /* background-color: rgb(170, 170, 170); */
    height: auto;
    margin: auto;
    padding: .75em;
    width: 100%;
}

.inner-story-text {
    width: 45%;
}

.info {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    /* background-color: #ccc; */
    /* background-image: url(../images/grey-box.jpg); */
    /* background-size: cover; */
    height: 100vh;
    margin: auto;
    width: 100%;
}

.item {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 80%;
    width: 80%;
}

h2.item-headline {
    font-style: italic;
}

.one {
    background-color: red;
    background-image: url(../images/taidam20.jpg);
    background-size: cover;
}

.two {
    background-color: black;
}

.three {
    background-color: blue;
}

.four {
    background-color: teal;
}


/* FEATURED ITEM */

.item-padding {
    background-color: #eee;
    padding: .5em;
    height: 250px;
}

/* FOOTER */

.footer-content {
    margin: auto;
    max-width: 1000px;
    padding: 20px;
}

p.footer-text {
    font-size: .75em;
}