* {
    text-align: center;
    font-family: 'Playfair Display', serif;
    scroll-behavior: smooth;
}

/* UTILITIES */

h1, h2, h3, h4 ,h5{ 
    color: #727272;
    /* font-family: 'Abel', sans-serif; */
    letter-spacing: .12em;
    /* text-align: left; */
}

.lite {
    font-weight: 400i;
}

.bold {
    font-weight: 900;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.italic {
    font-style: italic;
}

.caps {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

h1 {
    font-size: 6.5em;
}

p {
    color: #727272;
    font-family: 'Playfair Display', serif;
    line-height: 1.6em;
}

.sans-serif {
    font-family: 'Oswald', sans-serif;
}

.serif {
    font-family: 'Playfair Display', serif;
}

.white {
    color: #fff;
}

.black {
    color: #000;
}

.padding-1 {
    padding: 1em;
}

.padding-3 {
    padding: 3em;
}

.margin-1 {
    margin: 1em;
}

.margin-3 {
    margin: 3em;
}

.item-center {
    margin-left: auto;
    margin-right: auto;
}

/* LINKS */
a {
    color: #898e7c;
    font-family: 'Playfair Display', serif;
    padding: .75em;
    text-transform: lowercase;
}

.button-block {
    /* background-color: #fa0977; */
    border: solid 1px #727272;
}

a:hover {
    color: #898e7c;
    font-style: italic;
    text-decoration: none;
}

img {
    margin: 0;
    max-width: 100%;
    padding: 0;
}

hr {
    width: 100%;
}

hr.thick-border {
    border-bottom: rgb(255,255,255) solid 3px;
}

hr.left {
    margin-left: 0;
    max-width: 47%;
}

hr.right {
    margin-right: 0;
    max-width: 82%;
}

footer {
    background-color: #e5e5e5;
    margin: 0;
    padding: 0;
}

/* ABOUT */

#about {
    display: flex;
}

/* HEADER */

#header {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: transparent;
    padding: 2em;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 50;
}

.links {
    display: inline-flex;
}

.logo {
    height: 36px;
    width: 175px;
}

/* INTRO PAGE */

#main {
    background-color: rgb(255, 255, 255);
    background-image: url(../images/clouds-bw.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    z-index: 99;
}

#main > * {
    flex: 1 100%;
}

.main-image {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: auto;
    z-index: 99;
}

.intro-section {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* background-color: rgb(255, 255, 255); */
    height: 100vh;
    width: 100%;
}

.intro-item {
    /* background-color: red; */
    align-content: center;
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: auto;
    width: 100%;
}

/* STORY */

.story {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgb(255, 255, 255);
    height: 100vh;
    margin: auto;
}

.inner-story {
    width: 85%;
}

.inner-story-text {
    height: auto;
}

.story-headline {
    /* background-color: rgb(170, 170, 170); */
    height: auto;
    margin: auto;
    padding: .75em;
    width: 100%;
}

.story-text {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;

    /* background-color: rgb(170, 170, 170); */
    height: auto;
    margin: auto;
    padding: .75em;
    width: 100%;
}

.inner-story-text {
    width: 45%;
}

.info {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    /* background-color: #ccc; */
    /* background-image: url(../images/grey-box.jpg); */
    /* background-size: cover; */
    height: 100vh;
    margin: auto;
    width: 100%;
}

.btn-page {
    display: block;
    position: absolute;
    z-index: 100;
}

.item {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    width: 100%;
}

h2.item-headline {
    /* font-style: italic; */
}

.s-one {
    /* display: none; */
    /* opacity: 0; */

    -webkit-transition-property: width height background-color font-size top transform -webkit-transform color;
    -webkit-transition-duration: .25s;
    -webkit-transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
    transition-property: width height background-color font-size top transform -webkit-transform color;
    transition-duration: .25s;
    transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
}

#s-two {
    /* opacity: 0; */

    -webkit-transition-property: width height background-color font-size top transform -webkit-transform color;
    -webkit-transition-duration: .25s;
    -webkit-transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
    transition-property: width height background-color font-size top transform -webkit-transform color;
    transition-duration: .25s;
    transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
}

#s-three {
    display: none;
}

#s-four {
    display: none;
}

.one {
    background-color: red;
    background-image: url(../images/reinvizion-bg.jpg);
    background-size: cover;
}

.two {
    background-color: black;
    background-image: url(../images/fidelity-bg.jpg);
    background-size: cover;
}

.three {
    background-image: url(../images/audi-bg.jpg);
    background-size: cover;
    background-color: blue;
}

.four {
    background-image: url(../images/krispykreme-bg.jpg);
    background-size: cover;
    background-color: teal;
}

.five {
    background-image: url(../images/krispykreme-bg.jpg);
    background-size: cover;
    background-color: teal;
}

.six {
    background-image: url(../images/ilani-bg.jpg);
    background-size: cover;
    background-color: teal;
}

.mobile-only {
    display: none;
}

.desktop-only {
    display: block;
}


/* FEATURED ITEM */

.item-padding {
    background-color: #eee;
    padding: .5em;
    height: 250px;
}

/* FOOTER */

.footer-content {
    margin: auto;
    max-width: 1000px;
    padding: 20px;
}

p.footer-text {
    font-size: .75em;
}

/* animation */

#heading {
    /* opacity: 0; */
    display: none;
}

#heading2 {
    /* opacity: 0; */
    display: none;
}

.hidden {
    /* opacity: 0; */
    visibility: hidden;
}

@keyframes fade-in {
    from {opacity: 0; transform: scale(.7,.7)}
    to {opacity: 1;}
}
.fade-in-element {
  animation: fade-in 1.4s;
}

/* mobile views */
@media (max-width: 800px) {
    h1 {
        font-size: 2.75em;
    }
    .inner-story-text {
        width: 100%;
    }

    #header {
        position: absolute;
    }

    .mobile-only {
        display: block;
    }
    
    .desktop-only {
        display: none;
    }

    .info {
        height: 60vh;
    }
}

/* Slide in */

.align-left {
    float:left;
    margin-right:20px;
}

.align-right {
    float:right;
    margin-left:20px;
}

.slide-in {
    opacity:0;
    transition:all .5s;
}

.align-left.slide-in {
    transform:translateX(-30%) scale(0.95);
}

.align-right.slide-in {
    transform:translateX(30%) scale(0.95);
}

.slide-in.active {
    opacity:1;
    transform:translateX(0%) scale(1);
}

/* animates when scrolled on screen */

.onScreen {
    visibility: hidden;
}

.onScreen-bottom {
    /* bottom: -300px; */
    visibility: hidden;
}

.fadeIn-bottom {
    -webkit-animation: animat_show 3.0s;
    animation: animat_show 3.0s;
    bottom: auto;
    visibility: visible !important;
}

.fadeIn {
    /* background-color: red; */
    -webkit-animation: fadeIn 1.0s;
    animation: ease-in;
    animation-duration: 1.0s;
    animation-name: fadeIn;
    bottom: auto;
    /* opacity: 1; */
    position: relative;
    visibility: visible !important;
}
  
  @keyframes fadeIn {
    from {
      /* left: -300px; */
      opacity: 1;
      /* width: 100%;  */
    }
  
    to {
      /* left: 0; */
      opacity: 1;
      /* width: 100%; */
    }
  }

.slideRight {
    /* background-color: black; */
    /* display: none; */
    /* opacity: 0; */

    animation: ease-in;
    animation-duration: 1.0s;
    left: -300px;
    opacity: 0;
    position: relative;

    -webkit-transition-property: width height background-color font-size top transform -webkit-transform color;
    -webkit-transition-duration: .75s;
    /* -webkit-transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53); */
    transition-property: width height background-color font-size top transform -webkit-transform color;
    transition-duration: .75s;
    /* transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53); */
}

.slideLeft {
    /* background-color: black; */
    /* display: none; */
    /* opacity: 0; */

    /* animation: backwards; */
    animation-duration: 1.0s;
    right: -300px;
    opacity: 0;
    position: relative;

    -webkit-transition-property: width height background-color font-size top transform -webkit-transform color;
    -webkit-transition-duration: .75s;
    /* -webkit-transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53); */
    transition-property: width height background-color font-size top transform -webkit-transform color;
    transition-duration: .75s;
    /* transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53); */
}

.slideUp {
    /* background-color: black; */
    /* display: none; */
    /* opacity: 0; */

    /* animation: backwards; */
    animation-duration: 1.0s;
    bottom: -300px;
    opacity: 0;
    position: relative;

    -webkit-transition-property: width height background-color font-size top transform -webkit-transform color;
    -webkit-transition-duration: .75s;
    /* -webkit-transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53); */
    transition-property: width height background-color font-size top transform -webkit-transform color;
    transition-duration: .75s;
    /* transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53); */
}



/* CLOSE BUTTON */

